

<div class="row">
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="1" />
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="2" />
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="3" />
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="4" />
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="5" />
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="/img/p7.jpg" alt="6" />
        </figure>
    </div>
</div>
